@import '../../../style/index.scss';
$spaceBottom1: calc(48PX + 36px + constant(safe-area-inset-bottom) - 12PX);
$spaceBottom2: calc(48PX + 36px + env(safe-area-inset-bottom) - 12PX);

.pb60 {
  padding-bottom: $spaceBottom1;
  padding-bottom: $spaceBottom2;
}
.mb60 {
  margin-bottom: $spaceBottom1;
  margin-bottom: $spaceBottom2;
}

.container {
  height: 100%;
  box-sizing: border-box;
  //padding-top: calc(24PX + 64px);
}
.orderContainer {
  padding: 12PX 12PX 0;
  //padding-bottom: calc(48PX + 36px);
  margin-bottom: calc(48PX + 18px + 48px + 92px + constant(safe-area-inset-bottom));
  margin-bottom: calc(48PX + 18px + 48px + 92px + env(safe-area-inset-bottom))
}


.radius {
  position: absolute;
  background-color:#efefef;
  width: 24px;
  height: 24px;
  border-radius: 100px;
  z-index: 1;
}

.status {
  //width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15PX;
  padding: 24px;
  position: relative;
  background-color: #f7f7f7;
  .topLeftRadius, .topRightRadius {
    @extend .radius;
    bottom: -11px;
  }
  .topLeftRadius {
    left: -11px;
  }
  .topRightRadius {
    right: -11px;
  }
  /* &:after {
    content: '';
    position: absolute;
    transform-origin: center;
    pointer-events: none;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    //transform: scaleY(.5);
    border-bottom: 1PX dashed $color-border-base;
  } */
}

.fieldContent {
  padding: 12px 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #fff;
}

.contentList {
  :global {
    .at-input {
      margin-left: 0;
      padding:18px 24px;
      margin-bottom: 0;
      &__title, input {
        font-size: 14PX;
      }
      &__title {
        margin-right: 0;
        width: 100PX;
      }
    }
    .at-list__item {
      font-size: 14PX;
      padding:18px 24px;
      &:after {
        display: none;
      }
    }
    .item-extra__info {
      font-size: 14PX;
      padding-right: 0;
    }
    .item-extra__icon {
      position: static;
      transform: translateY(0);
    }
    .item-extra__icon-arrow {
      margin-right: -6px;
      font-size: 16PX;
    }
    .at-list__item-container {
      justify-content: space-between;
    }
    .at-list__item-content {
      flex: none;
      -webkit-box-flex: none;
      width: 100PX;
      margin-right: 0;
    }
    .at-list__item-extra {
      max-width: 100%;
    }
  }
  
}

.payButton {
  @extend %topHairLine;
  z-index: 10;
  padding: 24px;
  bottom: calc(48PX + 36px);
  bottom: $spaceBottom1;
  bottom: $spaceBottom2;
  left: 0;
  right: 0;
  top: auto;
  background-color: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  position: fixed;
  display: flex;
  :global {
    .at-button {
      flex: 1
    }
  }
}

.linkButton {
  color: $color-brand;
  padding: 0;
  background-color: transparent;
  border:0;
  margin-right: 24px;
  height: auto;
  line-height: 1;
  :global {
    .at-button__text {
      font-size: 15PX;
    }
  }
}

.fieldApplyContainer {
  background-color: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.applyField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:18px 24px;
  font-size: 14PX;
  /* @extend %bottomHairLine;
  &:after {
    left: 24px;
  } */
  .applyFieldContent {
    flex:1;
    display: flex;
    .applyLabel {
      width: 100PX;
      color: #333
    }
    .applyValue {
      flex: 1;
      color: #999;
      word-break: break-all;
    }
  }
  .applyFieldCopy {
    color: $color-brand;
    width: 24px;
  }
}

.priceCard {
  display:flex;
  background-color: #fff;
  padding: 24PX 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @extend %bottomHairLine;
  .priceCardFieldName {
    color: #c8c8c8;
    font-size: 12PX;
  }
  .priceTag {
    font-size: 32PX;
    color: #333;
    position: relative
  }
  .payStatus {
    position: absolute;
    padding: 2PX 4PX;
    display: block;
    right: -42PX;
    top: -8PX;
    font-size: 10PX;
    border-radius: 100PX;
    border-bottom-left-radius: 0;
    border-width: 2PX;
    border-style: solid;
    line-height: 1;
  }
}